/*********************************************************************
BLOG created By.Suga
**********************************************************************/


/*********************************************************************
2015.06.14 : Created (item, post, post-title, post-content, more-link)

**********************************************************************/

.post-item {
    margin: 10px;
    padding: 10px;
    border: 2px solid #666;
    background-color: rgba(219, 219, 219, 0.35);
    text-align: left;
    font-family: Koruri Regular, Georgia, serif;
    font-size: 20px;
    width: 450px;
    height: 278px;
    -moz-box-shadow: 0 2px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 2px 3px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.post-item:hover {}

ul.isotope-filter,
ul.isotope-sort {
    margin: 10px 0 10px 0;
    padding: 0px;
    height: 30px;
    background: url(../../assets/images/tabDivider.png) no-repeat bottom center;
    text-align: center;
}

ul.isotope-filter li,
ul.isotope-sort li {
    display: block;
    padding: 0;
    margin: 0 30px 0 0;
    display: inline-block;
}

ul.isotope-filter li a,
ul.isotope-sort li a {
    display: block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 0 0 10px;
}

.post-lastDate {
    font-size: 10px;

    border: solid #fff; /* 実験用 */
    border-width: 1px; /* 実験用 */
    width: 410px; /* とりあえず打ち込んだ適当な値。 */
    height: 15px; /* とりあえず打ち込んだ適当な値。 */
    text-align: left;
    margin-left: 5px;
    vertical-align: top;
}

.post-date {
    /*position: absolute;*/
    font-size: 10px;

    border: solid #fff; /* 実験用 */
    border-width: 1px; /* 実験用 */
    width: 410px; /* とりあえず打ち込んだ適当な値。 */
    height: 15px; /* とりあえず打ち込んだ適当な値。 */
    text-align: left;
    margin-left: 5px;
    vertical-align: top;
}

.post-id {
    visibility: hidden;
}

.isotope-article-table {
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}


/************************* .post-title  *************************/

.post-title {
    display: block;
    width: 410px; /* とりあえず打ち込んだ適当な値。 */
    height: 55px; /* とりあえず打ち込んだ適当な値。 */
    margin: 5px 5px 0 5px;
    text-align: left;
    font-size: 30px;
    letter-spacing: 1px;
    
    border: solid #fff; /* 実験用 */
    border-width: 1px; /* 実験用 */
}

.post-title a {
    color: #003366;
}


/************************* .post-overview  *************************/

.post-overview {
    font-size: 16px;
    margin: 5px;
    text-align: left;

    border: solid #fff; /* 実験用 */
    border-width: 1px; /* 実験用 */
    width: 410px; /* とりあえず打ち込んだ適当な値。 */
    height: 150px; /* とりあえず打ち込んだ適当な値。 */
}