/*********************************************************************
                        BLOG created By.Suga
**********************************************************************/


#test-mainmenu #test-dropdown #test-dropdown-menu {
    top: -14em;
    left: 0px;
    font-size: 15px;
    padding: 0;
    background: none;
    border: 0 none;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;

    display: none;
}



#test-mainmenu .open #test-navbar-toggle {
    top: -70px;
    opacity: 0;
    display: none;
}


#test-mainmenu .open #test-dropdown-menu {
    top: 2px;
    opacity: 1;
    display: block;
}


#test-mainmenu #test-dropdown-menu a {
    padding: 10px 10px;
    margin: 0;
    color: white;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

























.dropmenu{
    *zoom: 1;
    list-style-type: none;
    width: 960px;
    margin: 5px auto 30px;
    padding: 0;
}
.dropmenu:before, .dropmenu:after{
    content: "";
    display: table;
}
.dropmenu:after{
    clear: both;
}
.dropmenu li{
    position: relative;
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
.dropmenu li a{
    display: block;
    margin: 0;
    padding: 15px 0 11px;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
}
.dropmenu li ul{
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
}
.dropmenu li ul li{
    width: 100%;
}
.dropmenu li ul li a{
    padding: 13px 15px;
    border-top: 1px solid #7c8c0e;
    background: #6e7c0c;
    text-align: left;
}
.dropmenu li:hover > a{
    background: #6e7c0c;
}
.dropmenu li a:hover{
    background: #616d0b;
}

#fade-in2 { position: relative; z-index: 5; }
#fade-in2 li ul{
    opacity: 0;
    top: 50%;
    visibility: hidden;
    transition: .5s;
}
#fade-in2 li:hover ul{
    top: 100%;
    visibility: visible;
    opacity: 1;
}

/*
.dropmenu li a:hover{
    top: -70px;
    opacity: 0;
}
*/






.post-item {
    text-align: center;
    font-family: Koruri Regular,Georgia, serif;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    background: rgba(219, 219, 219, 0.45);
    position: relative;

    width: 450px;
    height: 278px;
}

.box-effect {
    /* 描画範囲は三角(折りたたんでいる部分)の対角線長にするので、41px/1.4114=29pxとなる。 */
    /* 最前列のレイヤー : 折りたたみ部分以外の色付けのレイヤー、右上から左下までを開始位置から29px先を始点として色付け。 */
    /* ２枚目のレイヤー : 41pxにすると少しずれるので、右上から(40px)×(40px)の範囲を対象とする。
    対象の正方形領域の中心点から 色付け。 */
    /*  linear-gradient(グラデの方向   , 開始の色     位置, 終了の色       位置) x座標 y座標 繰り返しなし */
    background: linear-gradient(-135deg, transparent 30px, rgba(219, 219, 219, 0.35) 0) 100% 0 no-repeat, linear-gradient(-135deg, transparent 50%, rgba(219, 219, 219, 0.35) 0) 100% 0% no-repeat !important;
    background-size: auto, 40px 40px !important;
    background-repeat: no-repeat !important;
}




.dotline-block {
    color: #000;
    background: #33b591;
    padding: 20px;
    border: 2px dashed rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 0 5px #3cb371;
    -moz-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0, 0, 0, 0.5);
}



/********************************************************
*********************************************************
********************** .windmill  ***********************
*********************************************************
********************************************************/

.windmill {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 100px auto;
}

.wind {
    width: 100px;
    height: 100px;
    position: absolute;
    animation: rotates 40s infinite linear;
    -moz-animation: rotates 40s infinite linear;
    -webkit-animation: rotates 40s infinite linear;
    -o-animation: rotates 40s infinite linear;
}

.wind:after {
    content: "";
    position: absolute;
    top: 45px;
    left: 45px;
    width: 10px;
    height: 10px;
    background: #eee;
    border-radius: 50%;
}

.wind1,
.wind2,
.wind3,
.wind4 {
    width: 90px;
    height: 40px;
    position: absolute;
    margin: 13px 0 0 -41px;
    background: #cef;
    border-bottom-left-radius: 40% 100%;
}

.wind1 {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background: #f39c12;
}

.wind1:after {
    background-image: radial-gradient(circle at 0px 0px, rgba(241, 196, 15, 0) 40px, #f1c40f 41px);
}

.wind2 {
    left: 63px;
    top: -28px;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    background: #e74c3c;
}

.wind2:after {
    background-image: radial-gradient(circle at 0px 0px, rgba(255, 4, 4, 0) 40px, #d33 41px);
}

.wind3 {
    left: 92px;
    top: 35px;
    transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    background: #27ae60;
}

.wind3:after {
    background-image: radial-gradient(circle at 0px 0px, rgba(241, 196, 15, 0) 40px, #2ecc71 41px);
}

.wind4 {
    left: 29px;
    top: 63px;
    transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    background: #2980b9;
}

.wind4:after {
    background-image: radial-gradient(circle at 0px 0px, rgba(52, 152, 219, 0) 40px, #3498db 41px);
}

@keyframes rotates {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@-moz-keyframes rotates {
    form {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotates {
    form {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}

@-o-keyframes rotates {
    form {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(-360deg);
    }
}






/* [http://stackoverflow.com/questions/32996454/css-folded-corner-effect-transparent-background]を参考。
pure cssで行える様々な紙を織り込んだようなデザインの実現方法が載っているので、またそのうち見てみること。
*/
.foldedPaper{
    position: relative;
    width: 320px;
    padding: 1em 1.5em;
    margin: 2em auto;
    color: #fff;
    background: linear-gradient(to bottom left, transparent 50%, #658E15 50%), linear-gradient(to right, #97C02F 99.9%, transparent 99.9%), linear-gradient(to right, #97C02F 99.9%, transparent 99.9%);
    background-size: 16px 16px, 100% 100%, 100% 100%;
    background-position: 100% 0%, -16px 0%, 100% 16px;
    background-repeat: no-repeat;
    overflow: hidden;
}




/* tabに関する実験 [ここから] */
/* 参考 http://luiszuno.com/themes/nova/index.html */
/* 自分のサイトに合うように改造して使うこと。 */
.tabs { 
    list-style:none; 
    margin:0 !important;
    padding: 0px;	
    height: 32px;
    background: url(../../dummyParts/tabs-divider.png) no-repeat bottom center;
}

/* single tab */
ul.tabs li { 
    display: block;
    float:left;	 
    text-indent:0;
    padding:0;
    margin: 0px 5px 0px 0px !important;
    list-style-image: none !important; 
}


/* link inside the tab. uses a background image */
ul.tabs a { 
    display:block;
    font-size:12px;
    height: 30px;  
    line-height:30px;
    text-align:center;	
    text-decoration:none;
    padding: 0px 0px 0px 10px;	
    position:relative;
    top:0px;
    background:  url(../../dummyParts/tabs.png) no-repeat;
}

ul.tabs a span{ 
    display:block;
    height: 100%;
    padding-right: 10px;
    background:  url(../../dummyParts/tabs.png) no-repeat right -40px;
}


/* when mouse enters the tab move the background image */
ul.tabs a:hover { 
    background-position: 0px -80px;
}
ul.tabs a:hover span{ 
    background-position: right -120px;
}

/* tabに関する実験 [ここまで] */







.board-top {
    position: relative;
    padding: 38px 0 0 38px;
    width: 960px;
    height: 57px;
    margin: 0 0 0 0;
    background: url('../../dummyParts/board_bg_top.gif') no-repeat
}

.board-main {
    line-height: 25px;
    position: relative;
    left: 8px;
    width: 951px;
    background: url('../../dummyParts/board_bg_main.gif') repeat-y
}

.board-bottom {
    position: relative;
    /*padding: 0 16px 18px 8px;*/
    margin-left: 18px;
    padding: 0 0 20px 0;
    width: 921px;
    background: url('../../dummyParts/board_main_bottom.jpg') no-repeat bottom
        /* board_main_bottom.jpg [951px*18px] */
}